<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Travel Right is a premier travel agency with the intention of making travel available to all"/>
		<meta
		name="keywords" content="Travel Right, travel, booking, vacation, travel agency, jungle, urban, tropical"/>

		<!--HTML Document for the travel site page Developed by: Tyler Smalley-->
		<link rel="icon" type="image/png" href="images/favicon.png">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="../styles/bootstrap.css">
		<link rel="stylesheet" href="../styles/navigation.css">
		<script src="../scripts/nav.js"></script>

		{% block head %}
			<title>
				{% block title %}{% endblock %}
				| Travel Right</title>
		{% endblock %}
	</head>

	<body class="body">
		<header class="header">
			<img src="../images/hamburger.png" id="mobile-nav-button" alt="nav menu icon" onclick="openNav()"/>
			<nav class="nav navbar navbar-expand-md py-3">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
					<span class="navbar-toggler-icon"></span>
				</button>

				<ul class="navigation">
					<li class="logoBox"></li>
					<li class="logInButtonBox">
						<a class="btn logInButton" href="https://travel.fsd01.ca">Home</a>
					</li>
					<li class="logInButtonBox">
						<a class="btn logInButton" href="https://travel.fsd01.ca/blog">Why Travel Right</a>
					</li>
					<li class="logInButtonBox">
						<a class="btn logInButton" href="https://travel.fsd01.ca/destinations">Destinations</a>
					</li>
					<li class="logInButtonBox">
						<a class="btn logInButton" href="https://travel.fsd01.ca/trcalendar">Calendar</a>
					</li>
					<li class="logInButtonBox">
						<a class="btn logInButton" href="https://travel.fsd01.ca/booking">Book Now</a>
					</li>
					<li class="logInButtonBox">
						<a class="btn logInButton" href="https://travel.fsd01.ca/contactus">Contact Us</a>
					</li>
					<li class="logInButtonBox">
						<a class="btn logInButton" href="travel_right_index_fr.html">Fr</a>
					</li>
					{% if user.email != null %}
						<li class="logInButtonBox">
							<a class="btn logInButton" href="https://travel.fsd01.ca/logout">Sign Out</a>
						</li>
						{% if (user.account_type == "manager") or (user.account_type == "admin") %}
							<li class="logInButtonBox nav-item dropdown">
								<a class="btn nav-link dropdown-toggle logInButton" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="https://travel.fsd01.ca/admin/users/list">User List</a>
									</li>
									<li>
										<a class="dropdown-item" href="https://travel.fsd01.ca/admin/destinations/list">Destination List</a>
									</li>
								</ul>
							</li>
						{% endif %}
						<li class="logInButtonBox nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{user.email}}</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="https://travel.fsd01.ca/users/trips">Order History</a>
								</li>
								<li>
									<a class="dropdown-item" href="https://travel.fsd01.ca/users/edit">Edit Profile</a>
								</li>
							</ul>
						</li>
					{% else %}
						<li class="logInButtonBox">
							<a class="btn logInButtonBox" href="https://travel.fsd01.ca/login">
								<button type="submit" class="btn logInButton">Sign in</button>
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>

		{% block content %}{% endblock %}

		<footer class="footer text-center">
			<div class="container">
				<p class="lead">Copyright &copy; 2021 Team SIT</p>

				<a href="" class="postion-absolute bottom-0 end-0 p-5">
					<i class="bi bi-arrow-up-circle h1"></i>
				</a>
			</div>
		</footer>

		{% block scripts %}{% endblock %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>

</html></body></html>
