{% extends "base.html.twig" %}
{% block title %}Testemonials
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/blog.css"/>
	{{ parent() }}
{% endblock %}

{% block content %}


<div class="parallax-1">
		<div class="caption">
			<span class="border">Travel Journals</span>
		</div>
	</div>

<div class="responsive-grid" id="articles">
	<div class="article-preview">
		<img src="./images/santorini.jpg" title="santorini" alt="santorini"/>
		<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita ipsa blanditiis praesentium quo quia explicabo error voluptatibus dolores voluptatum deserunt, quasi consequatur non molestiae, quam minima repellat sit ratione.<br>

			<a class="read-more">read more</a>
		</div>
	</div>
	<div class="article-preview">
		<img src="./images/paris.jpg" title="paris" alt="paris"/>
		<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita ipsa blanditiis praesentium quo quia explicabo error voluptatibus dolores voluptatum deserunt, quasi consequatur non molestiae, quam minima repellat sit ratione.<br>
			<a class="read-more">read more</a>
		</div>
	</div>
	<div class="article-preview">
		<img src="./images/veniz.jpg" title="veniz" alt="veniz"/>
		<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita ipsa blanditiis praesentium quo quia explicabo error voluptatibus dolores voluptatum deserunt, quasi consequatur non molestiae, quam minima repellat sit ratione.<br>
			<a class="read-more">read more</a>
		</div>
	</div>
	<div class="article-preview">
		<img src="./images/negombo.jpg" title="negombo" alt="negombo"/>
		<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita ipsa blanditiis praesentium quo quia explicabo error voluptatibus dolores voluptatum deserunt, quasi consequatur non molestiae, quam minima repellat sit ratione.<br>
			<a class="read-more">read more</a>
		</div>
	</div>
</div>

<div class="parallax-1">
		<div class="caption">
			<span class="border">...Travel Right</span>
		</div>
	</div>


{% endblock %}
