{% extends "base.html.twig" %}
{% block title %}Booking
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/book.css"/>
	<script src="scripts/booking.js" defer></script>
	{{ parent() }}
{% endblock %}

{% block content %}

<div class="parallax-1">
	<div class="caption">
		<span class="border">The Dream Vacation</span>
	</div>
</div>

<main></main>
<section id="confirmed_container">
	<form id="booking-form" name="booking-form" action="bookingConfirm.html" method="GET" onsubmit="return validateForm(event)" autocomplete="on">
		<div class="grid-container">
			<div class="full-width">
			<div class="full-width">
				<h2>Choose Your Destination:</h2>
				<h1>UNDER CONSTRUCTION</h1>
			</div>
			<div class="full-width">
				
			</div>
			<div class="col2">
				<br/><br/>
				<label for="adults">Adults&ast;</label>
				<br/>
				<input type="number" id="adults" value="1" required/>
			</div>
			<div class="col3">
				<br/><br/>
				<label for="children">Children</label>
				<br/>
				<input type="number" id="children" value="0"/>
			</div>
			<div class="col2">
				<label for="arrival">Arrival Date&ast;</label>
				<br/>
				<input type="date" id="arrival" required/>
			</div>
			<div class="col3">
				<label for="departure">Departure Date&ast;</label>
				<br/>
				<input type="date" id="departure" required/>
			</div>
			<div class="col2">
				<label for="total">Total Nights&ast;</label>
				<br/>
				<input type="number" id="total"/>
			</div>
			<div class="full-width">
				<br/>
				<input type="submit" class="submit" value="Send"/>
				<p>Required Field*</p>
			</div>
		</div>
	</form>
</section>

<div class="parallax-1">
	<div class="caption">
		<span class="border">...Travel Right</span>
	</div>
</div>


{% endblock %}
