{% extends "base.html.twig" %}
{% block title %}Booking
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/book.css"/>
	<script src="scripts/booking.js" defer></script>
	{{ parent() }}
{% endblock %}

{% block content %}

<div class="parallax-1">
	<div class="caption">
		<span class="border">Are You Ready To..</span>
	</div>
</div>

<main></main>
<section id="confirmed_container">
	<form id="booking-form" name="booking-form" action="bookingConfirm.html" method="GET" onsubmit="return validateForm(event)" autocomplete="on">
		<div class="grid-container">
			<div class="full-width">
				<h1>Take Your Dream Vacation</h1>
				<p>Complete our booking form and our team will get in touch with you to confirm your request.</p>
				<h3>Personal Details</h3>
				<br/>
			</div>
			<div class="col2">
				<label for="full_name">Full Name&ast;</label>
				<br/>
				<input type="text" id="full_name" required/>
			</div>
			<div class="col3">
				<label for="email">Email&ast;</label>
				<br/>
				<input type="text" id="email" required/>
			</div>
			<div class="col2">
				<label for="phone">Phone&ast;</label>
				<br/>
				<input type="text" id="phone" required/>
			</div>
			<div class="col3">
				<label for="street">Street&ast;</label>
				<br/>
				<input type="text" id="street" required/>
			</div>
			<div class="col2">
				<label for="city">City&ast;</label>
				<br/>
				<input type="text" id="city" required/>
			</div>
			<div class="col3">
				<label for="province">Province&ast;</label>
				<br/>
				<input type="text" id="province" required/>
			</div>
			<div class="col2">
				<label for="postal-code">Postal Code&ast;</label>
				<br/>
				<input type="text" id="postal-code" required/>
			</div>
			<div class="col3">
				<label for="country">Country&ast;</label>
				<br/>
				<input type="text" id="country" required/>
			</div>
			<div class="full-width">
				<h3>Booking Details</h3>
				Choose Your Destination:
			</div>
			<div class="full-width">
				<input type="radio" id="bermuda" name="location" value="Bermuda" required/>
				<label for="bermuda"><img src="images/bermuda2.png" height="170" width="307" alt="Beach in Bermuda" title="Beach in Bermuda"/></label>
				<input type="radio" id="fiji" name="location" value="Fiji"/>
				<label for="fiji"><img src="images/fiji2.jpg" height="170" width="307" alt="Overhead picture of Fiji" title="Overhead picture of Fiji"/></label>
				<input type="radio" id="mauritius" name="location" value="Mauritius"/>
				<label for="mauritius"><img src="images/mauritius2.jpg" height="170" width="307" alt="Overhead picture of Mauritius" title="Overhead picture of Mauritius"/></label>
				<br/>
				<input type="radio" id="amazon" name="location" value="Amazon"/>
				<label for="amazon"><img src="images/amazon2.jpg" height="170" width="307" alt="Boats on the Amazon river" title="Boats on the Amazon river"/></label>
				<input type="radio" id="gbr" name="location" value="Great Barrier Reef"/>
				<label for="gbr"><img src="images/gbr.jpg" height="170" width="307" alt="Overhead shot of the Great Barrier Reef" title="Overhead shot of the Great Barrier Reef"/></label>
				<input type="radio" id="costarica" name="location" value="Costa Rica"/>
				<label for="costarica"><img src="images/costarica.jpg" height="170" width="307" alt="Bridge in jungle of Costa Rica" title="Bridge in jungle of Costa Rica"/></label>
				<br/>
				<input type="radio" id="shanghai" name="location" value="Shanghai"/>
				<label for="shanghai"><img src="images/shanghai2.jpg" height="170" width="307" alt="Skyline of Shanghai" title="Skyline of Shanghai"/></label>
				<input type="radio" id="mexicocity" name="location" value="Mexico City"/>
				<label for="mexicocity"><img src="images/mexicocity2.jpg" height="170" width="307" alt="Skyline of Mexico City" title="Skyline of Mexico City"/></label>
				<input type="radio" id="berlin" name="location" value="Berlin"/>
				<label for="berlin"><img src="images/berlin2.jpg" height="170" width="307" alt="Skyline of Berlin" title="Skyline of Berlin"/></label>
			</div>
			<div class="col2">
				<br/><br/>
				<label for="adults">Adults&ast;</label>
				<br/>
				<input type="number" id="adults" value="1" required/>
			</div>
			<div class="col3">
				<br/><br/>
				<label for="children">Children</label>
				<br/>
				<input type="number" id="children" value="0"/>
			</div>
			<div class="col2">
				<label for="arrival">Arrival Date&ast;</label>
				<br/>
				<input type="date" id="arrival" required/>
			</div>
			<div class="col3">
				<label for="departure">Departure Date&ast;</label>
				<br/>
				<input type="date" id="departure" required/>
			</div>
			<div class="col2">
				<label for="total">Total Nights&ast;</label>
				<br/>
				<input type="number" id="total"/>
			</div>
			<div class="full-width">
				<br/>
				<input type="submit" class="submit" value="Send"/>
				<p>Required Field*</p>
			</div>
		</div>
	</form>
</section>

<div class="parallax-1">
	<div class="caption">
		<span class="border">...Travel Right</span>
	</div>
</div>


{% endblock %}
