{% extends "base.html.twig" %}
{% block title %}Booking Confirmed
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/bookingConfirm.css">
	{{ parent() }}
{% endblock %}

{% block content %}

<div class="parallax-1">
	<div class="caption">
		<span class="border">See you soon..</span>
	</div>
</div>

<section id="confirmed_container">
	<h2 id="h2_confirmed">Booking Confirmed!</h2>
	<p>One of our travel afficionadoes will contact you soon.</p>
	<p>A confirmation email will be sent to you shortly.</p>
	<div id="tableWrapper">
		<fieldset>
			<table
				class="flexTable">
				<!--!!INSERT TABLE CONTENTS HERE -->
				<script>
					bookingDetails = JSON.parse(sessionStorage.getItem("bookingDetails"));
					// the javascript array is now  ['location', 'adults', 'children', 'arrival', 'departure','total']
					document.writeln('<caption>Booking Summary</caption>');
					document.writeln('<thead><tr><th>Destination |</th>');
					document.writeln('<th> Adults |</th>');
					document.writeln('<th> Children |</th>');
					document.writeln('<th> Arrival Date |</th>');
					document.writeln('<th> Departure Date |</th>');
					document.writeln('<th> Total Nights |</th>');
					document.writeln('</tr></thead>');
					document.writeln('<tbody><tr>');

					for (var i = 0; i < bookingDetails.length; i++) 
					document.writeln("<td>" + bookingDetails[i] + "</td>");
					document.writeln('</tr></tbody>');
				</script>
			</table>
		</fieldset>
	</div>
</section>

<div class="parallax-1"></div>

{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}