{% extends "base.html.twig" %}
{% block title %}Destinations
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/destinations.css">
	<script src="scripts/nav.js"></script>
	{{ parent() }}
{% endblock %}

{% block content %}


	<div class="parallax-1">
		<div class="caption">
			<span class="border">Are You Ready To..</span>
		</div>
	</div>

	<section id="calendar_container">
		<h2 id="h2_calendar">Explore our Destinations
		</h2>
		<div class="container">
		
		</div>
	</section>

	<div class="parallax-1">
		<div class="caption">
			<span class="border">...Travel Right</span>
		</div>
	</div>


{% endblock %}
