{% extends "base.html.twig" %}

{% block title %}Internal error{% endblock %} 

{% block content %}

<p>We're sorry, we encoutered an internal error. Our team of coding ninjas is already working on a solution.    
     <a href="/">Click to continue</a>. </p>
     <!--add image -->
     <img src="/images/Pretzel-Ninja-Leap.svg" width="100">

{% endblock content %}