{% extends "base.html.twig" %}
{% block title %}Home
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/travel_site.css">
	{{ parent() }}
{% endblock %}

{% block content %}

	{% if success %}
		<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
			<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<img src="../images/Logo.png" class="rounded me-5" alt="logo">
					<button type="button" class="btn-close  ms-5" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					<strong class="me-auto">{{ success }}</strong>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="parallax-1">
		<div class="caption">
			<span class="border">Are You Ready To..</span>
		</div>
	</div>

	<section id="choose_container">
		<h2 id="h2_choose">About us</h2>
		<div id="choose_text">
			<p>
				Elysium Escapes was founded by a small group of avid travlers who found themselves always wanting a more refined experience. Sometimes, when we have the means, we just want to have the very best the world has to offer. Most travel sites cater to the cheapest option possible. At Elysium Escapes, we know you have resources to spare and we intend to deliver the most exclusive experience that your hard pillaged money can buy. To find out more and to hear accounts from our happy travelers, Check out our
				<strong>Tales from Elysium</strong>
				travel journals:
			</p>
		</div>
		<div class="logInButtonBox w-100 text-center">
			<a class="btn logInButton" href="https://travel.fsd01.ca/blog">Tales from Elysium</a>
		</div>
	</section>

	<div class="parallax-2"></div>

	<section class="container">
		<h2 id="h2_Destinations">Pick Your Destination</h2>
		<!-- photo carousel -->
		<div class=" d-flex justify-content-center text-center">
			<div id="carouselIndex" class="carousel slide w-50 rounded" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../images/Logo.png" class="d-block w-75" alt="Logo image">
					</div>
					{% if images %}
						{% for image in images %}
							<div class="carousel-item">
								<img src="../{{ image.collage_imagepath }}" class="d-block w-75" alt="destination">
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndex" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselIndex" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			<!-- photo carousel END -->
		</div>
		<div class="logInButtonBox w-100 text-center">
			<a class="btn logInButton" href="https://travel.fsd01.ca/destinations">Explore our Escapes!</a>
		</div>
	</section>

	<div class="parallax-3"></div>

	<section id="consultation_container">
		<h2>Book Your Experience</h2>
		<div id="book_wrapper">
			<div class="destination_image_box">
				<img class="destination_image" src="images/destination_tropical.jpg" alt="Bridge to Tropical" title="Bridge to Tropical">
			</div>
			<p>
				If you're ready to escape, then click the link below start the process!
			</p>
			<div class="logInButtonBox w-100 text-center">
				<a class="btn logInButton" href="https://travel.fsd01.ca/destinations">Book Now!</a>
			</div>
		</div>
	</section>

	<div class="parallax-1">
		<div class="caption">
			<span class="border">...Escape</span>
		</div>
	</div>

{% endblock %}
