{% extends "base.html.twig" %}

{% block title %}
    Password reset successful
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block content %}
<br/><br/><br/> <br/><br/><br/>
        Password reset successful.<br>
            <a href="/login">Click to continue</a>
{% endblock %}