{% extends "base.html.twig" %}

{% block title %}
    Password reset
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block content %}
<br/><br/><br/> <br/><br/><br/>
        Password reset token not found or not valid (expired).<br>
            <a href="/">Click to continue</a>
{% endblock %}