{% extends "base.html.twig" %}

{% block title %}
    Login page
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block section %}
        Password reset has been sent (if an account with this email exists). Check your email in a moment.<br>
            <a href="/">Click to continue</a>
{% endblock section %}