{% extends "base.html.twig" %}

{% block title %}
    Password reset request
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block section %}
    <form method="POST" autocomplete="off">
        <div class="formInput">
            <label>Email</label>
            <input type="text" name="email" />
        </div>
        <div class="buttonDiv">
            <button type="submit">Send password reset email</button>
        </div>
    </form>
{% endblock section %}