body {
    background-image: url("../images/goldGrey.jpg");
    background-color: #828486;
    background-position: center;
    background-size: contain;
    color: #434b53;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: #B19A8C;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navWrapper {
    background-color: ivory;
    opacity: .99;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    box-shadow: 0px 2px 5px rgb(245, 193, 174);
}

.navList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navItems {
    flex: auto;
    max-width: 10%;
    min-width: fit-content;
    height: 30px;
    margin: 10px;
}

.logoBox {
    flex: auto;
    max-width: 400px;
    min-width: 400px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

a {
    width: 140px;
    min-width: fit-content;
    height: 45px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: rgb(245, 193, 174);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 11px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: #3ddf9e;
    box-shadow: 0px 15px 20px rgba(47, 211, 145, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.logoutButtonBox {
    flex: auto;
    width: fit-content;
    height: 100%;
    margin: auto;
    text-align: center;
    align-items: right;
    justify-content: right;
}

.logoutButton {
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: rgb(245, 193, 174);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 11px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #3ddf9e;
    box-shadow: 0px 15px 20px rgba(47, 211, 145, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.userName {
    text-transform: uppercase;
    float: left;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.bodyWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.form {
    background-color: #B19A8C;
    opacity: .98;
    border-radius: 10px;
    height: auto;
    flex: auto;
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 70%;
    min-width: fit-content;
    text-align: center;
}

h1 {
    padding: 3px;
    font-size: 24pt;
    letter-spacing: 5px;
}

h3 {
    padding: 3px;
    font-size: 24pt;
    letter-spacing: 1.5px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    background-color: ivory;
    margin: 5px;
    padding: 15px;
    height: auto;
    margin: 10px;
    padding: auto;
    width: auto;
    min-width: fit-content;
    border: thin grey solid;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    font-style: italic;
    flex: 20%;
    margin: auto;
    text-align: center;
    align-items: center;
    width: auto;
    text-align: left;
}

input {
    background-color: rgb(245, 211, 198);
    flex: auto;
    border-radius: 5px;
    width: 175px;
    height: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
    border: none;
}

.imageBox {
    flex: auto;
    max-height: 125px;
    max-width: 125px;
    margin: 5px;
    padding: 0;
    border-radius: 50%;
}

.redText {
    color: rgb(238, 76, 76);
    margin: 0, 3px, 6px, 3px;
    padding: 0, 3px, 3px, 3px;
    flex: auto;
    width: auto;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submitButtonBox {
    flex: auto;
    height: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.submitButton {
    width: 140px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 15px;
    background-color: rgb(245, 193, 174);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 11px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #3ddf9e;
    box-shadow: 0px 15px 20px rgba(47, 211, 145, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

#textBody {
    max-width: 100%;
    min-width: 100%;
    height: 400px;
    line-height: 1.5;
    font-size: 14pt;
    margin-top: 10px;
}

.title {
    width: 90%;
    height: 20px;
    font-size: 24pt;
    color: #828486;
    margin: 10px, 0px, 10px, 0;
    padding: 7px;
    text-align: center;
}

.commentBox {
    background-color: rgb(245, 193, 174);
    opacity: .98;
    border-radius: 10px;
    height: auto;
    flex: auto;
    margin-top: 30px;
    text-align: left;
}

.tableBox {
    background-color: rgb(241, 218, 210);
    opacity: .98;
    border-radius: 10px;
    height: auto;
    flex: auto;
    margin-top: 30px;
    text-align: left;
}

td {
    flex: auto;
}

#commentBody {
    max-width: 100%;
}

.commentAuthor {
    font-size: 12pt;
    text-decoration: underline;
    margin-left: 20px;
}

.commentBody {
    margin-left: 50px;
}

.commentTS {
    margin-left: 20px;
    font-size: 8pt;
}

form {
    border: none;
}

.blogBox {
    background-color: rgb(245, 193, 174);
    opacity: .98;
    border-radius: 10px;
    height: auto;
    flex: auto;
}

.blogTitle {
    text-decoration: underline;
    margin: 0;
    padding: auto;
}